@{
    ViewBag.Title = "Contact Luce";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    230 Copeland Hall<br />
    Athen, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    740-592-6125
</address>

<address>
    <strong>Email</strong>   <a href="mailto:luce@ohio.edu">luce@ohio.edu</a><br />
</address>