@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200 Demo</h2>
    <p >This is a demo site for MIS4200 </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Intro</h2>
        <p>
           This is an intro to MVC development in Visual Studio.
        </p>

    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>This course introduces the Model-View-Controller development pattern.</p>
        <p>
            Sample links for class<br />
            @Html.ActionLink("Customers", "Index", "Customers")
            <br />
            @Html.ActionLink("Orders", "Index", "customerOrders")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Git and GitHub</h2>
        <p>This course also introduces git and gitHub.</p>
    </div>
</div>